<div id="login">
	<div id="lock" class="icon">
		<%= image_tag 'lock_icon3.png' %>
	</div>

	<%= form_for(:session, :url => sessions_path) do |f| %>
		<div class="field">
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="actions">
			<%= f.submit 'Sign in' %>
		</div>
	<% end %>
	<div id="signup-message">
		Don't have an account? <%= link_to 'Sign up here!', signup_path %>
	</div>
</div>
