<div class="left">
	<h1><%= @user.get_name %></h1>
	<div id="user-role">
		<span class="grey"><%= @user.get_access_level_name %>.</span>
	</div>
	<div id="user-posts">
		<h2>Posts and Drafts</h2>
		<% unless @user.posts.empty? %>
			<% @user.posts.each do |post| %>
				<li>
					<div class="postlet">
						<% if post.published? %>
							<h3><%= link_to post.title, post.get_path %></h3>
							Posted <span class="grey"><%= post.published_date %></span>
						<% else %>
							<h3><%= post.title %></h3>
							Draft updated <span class="grey"><%= post.last_modified_date %></span>
						<% end %>	
						<% if current_user.admin? || current_user == post.user %>
							&middot; <strong><%= link_to 'Edit', edit_post_path(post) %></strong> &middot; <strong><%= link_to 'Delete', post, :method => :delete, :confirm => 'Are you sure you want to delete this post?' %></strong>
						<% end %>					
					</div>
				</li>
			<% end %>
		<% else %>
			<p><span class="grey">No posts found.</span></p>
		<% end %>
	</div>
</div>
