<div id="sidebar">
	<ul>
		<li><%= link_to 'Edit Posts', posts_path %></li>
		<li><%= link_to 'Edit Users', users_path %></li>
	</ul>
	<ul>
		<li><%= link_to 'Edit Profile', cpanel_path %></li>
	</ul>
	<ul>
		<li><%= link_to 'Back to Blog', blog_path %></li>
		<li><%= link_to 'Back to Home', root_path %></li>
	</ul>
</div>
	