<div id="navbar">
	<%= link_to 'HOME', root_path %>
	<%= link_to 'BLOG', blog_path %>
	<%= link_to 'MANAGE', cpanel_path %>
	<%= link_to 'SIGN OUT', signout_path %>
	<div style="clear:both"></div>
</div>

<div id="page">
	<%= image_tag 'intro-logo.png', :alt => "Hi, I'm Jeffrey." %>
	<div id="content">
		<p>
			I’ve always been the kind of person who's driven to make things and fix problems. It’s why I write fiction, why I doodle on random pieces of paper, why I keep a list of little useful apps that I’d like to create one day.
		</p> 

		<p>
			Whenever I read or watch or use something awesome, I feel a little pang of jealousy, wishing that I had been the one to write that novel, or direct that movie, or design that app. And whenever I see something that doesn’t work quite as well as it should, I itch to fix it.
		</p>

		<p>
			That’s why I want to become a web developer. It's been four years since I graduated with a BS in English, and while I've had a decent job in the meantime, I’m tired of not being in a position to "put a ding in the universe." I’m tired of watching from the sidelines and feeling insignificant while people create things like Twitter, PayPal, and Basecamp.
		</p>

		<p>
			But breaking into the world of software development isn’t easy when you arrive late to the game armed with a liberal arts degree. Learning to code is one thing - but learning to be part of a development team, adhere to best practices, and create software in a disciplined, efficient manner? Those aren’t things you get from a book. Those are things you learn by seeking out and working with the best.
		</p>
		
		<p>
			That's where you come in. You are a group of top-notch developers. You are <%= link_to 'active', 'https://github.com/thoughtbot/factory_girl' %>, <%= link_to 'contributing', 'https://github.com/thoughtbot/paperclip' %> members of the Ruby/Rails community, and you teach other people to do what you do. You are exactly what I've been searching for.
		</p>
		
		<h2>This site is a demo</h2>
		
		<p>
			I built this site from the ground up for the sole purpose of applying to apprentice.io. It's got a <%= link_to 'simple but functional blog', blog_path %>, complete with a post <%= link_to 'creation', new_post_path %> and management <%= link_to 'interface', posts_path %>, basic user access levels, and nice-looking post URLs. Please take some time to <%= link_to 'put it to the test', blog_path %>. You can also view the source code on GitHub.
		</p>
		
		<p>
			It's nothing spectacular, but I hope it's a convincing demonstration of what I can do - and how hard I'm willing to work for this opportunity.
		</p>
	</div> 
</div>