<div class="post">
	<section>
		<h1 class="post_title"><%= link_to post.title, post.get_path %></h1>
		by <%= post.user.get_name %><br />
		<%= post.published_at %>
		<div class="post_content">
			<p>
				<%= raw(post.content) %>
			</p>
		</div>
	</section>
	<% if current_user == post.user || current_user.admin? %>
		<%= link_to 'Edit this post.', edit_post_path(post.id) %>
	<% end %>
</div>