<h1>Editing Post</h1>

<%= form_for @post do |f| %>
	<div class="field">
		Title<br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		Content<br />
		<%= f.text_area :content %>
	</div>
	<div class="field">
		Publish post?<br />
		<%= hidden_field_tag('post[published]', false) %>
		<%= check_box_tag('post[published]', true, @post.published) %>
	</div>
	<div class="actions">
		<%= f.submit 'Save' %>
	</div>
<% end %>