<h1>Editing Post</h1>

<%= form_for @post do |f| %>
	<div class="field">
		<%= f.label 'Title' %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label 'Slug' %><br />
		<%= f.text_field :slug %>
	</div>
	<div class="field">
		<%= f.label 'Content' %><br />
		<%= f.text_area :content %>
	</div>
	<div class="field">
		Post status<br />
		<% if @post.published? %>
		<% selected = 'Published' %>
		<% else %>
		<% selected = 'Draft' %>
		<% end %>
		<%= f.select(:published, options_for_select([['Published', true], ['Draft', false]], @post.published?))  %>
	</div>
	<div class="actions">
		<%= f.submit 'Save changes' %>
	</div>
<% end %>