<div class="left">
	<h1>All Posts</h1>
	<ul id="posts-list">
		<% @posts.each do |post| %>
			<li <%= 'class=draft' unless post.published? %> >
				<div class="postlet">
					<h2><%= link_to post.title, post.get_path %></h2>
					<% if post.published? %>
						Posted <span class="grey"><%= post.published_date %></span>
					<% else %>
						Draft updated <span class="grey"><%= post.last_modified_date %></span>
					<% end %>	
					by <%= link_to post.user.get_name, user_path(post.user) %>
					<% if current_user.admin? %>
						&middot; <%= link_to 'Edit', edit_post_path(post) %>
					<% end %>					
				</div>
			</li>
		<% end %>
	</ul>
</div>