<h1>New Post</h1>

<%= form_for @post do |f| %>
	<div class="field">
		Title<br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		Content<br />
		<%= f.text_area :content %>
	</div>
	<div class="actions">
		<%= f.submit 'Publish' %>
		<%= f.submit 'Save as draft' %>
	</div>
<% end %>
